html, body {
  font-family: 'Dongle', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar{
  z-index:100;
  width: 30vw;
  height: 17vh;
  display: flex;
  position: absolute;
  justify-content: center; /* Centering the content */
  align-items: center; /* Centering the content vertically */
}

@media (max-width:767px){
  .navbar{
    width: 100vw;
    height: auto;
    position: absolute;
    justify-content: center;
    padding:10px;
  }
  .navbar img {
    width: 100%; /* Make the logo take full width */
    height: auto; /* Maintain aspect ratio */
  }
  .content {
    top: calc(100vh / 7 + 20px); /* Position content below navbar with some space */    
  }
}

@media (min-width:768px) and (max-width:1024px){
  .navbar{
    width: 50vw;
    height: 20vh;
    position: absolute;
    justify-content: center;
    padding:20px
  }

  .navbar img{
    width:100%;
    height: auto;
  }

  .content {
    top: calc(20vh + 20px); /* Position content below navbar with some space */    
  }
}


.content{
  z-index:2;
  width:auto;  
  display:block;
  position: absolute;  
  color: white;
  top:calc(17vh + 100px);  
  left:30px;
  font-size: 40px;
  opacity: 0.8;
  /* user-select: none; makes it not selectable */
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  padding: 20px; /* Add padding inside the border */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border: 2px solid rgba(255, 255, 255, 0.5); 
  border-radius: 10px; 
  background: rgba(0, 0, 0, 0.5); 
  backdrop-filter: blur(5px); */
  transition: all 0.1s ease; 
  border-radius: 10px; 
}
.content:hover {
  border: 2px solid  rgba(255, 255, 255, 0.8); /* Change border color on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Enhance shadow on hover */
  border-radius: 10px; 
}

@media (max-width:767px){
  .content{
    width: 90%;
    left:5%
  }
}

@media (min-width:768px) and (max-width){
  .content{
    width: 80%;
    left: 10%;
  }
}

.other{
  font-size:20px
}

.getInTouch {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 10px;
}

.icon-shadow {
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

:root {
  --color-bg1: rgb(19, 20, 20);
  --color-bg2: rgb(19, 20, 20);
  --color1:  68, 68, 68;
  --color2: 81, 81, 81;
  --color3:103, 103, 103;
  --color4:128, 128, 128;
  --color5:40,40,40;
  --color-interactive: 185,185,185;
  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}


.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  svg {
    display: none;
  }


  .gradients-container {
    filter: url(#goo) blur(40px) ;
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}